body {
    background: #505050;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 15px;
    height: auto;
}

.header {
    padding: 20px;
    text-align: center;
    background: #1d1d1d;
    color: #ffffff;
    border-radius: 10px;
}

.header h1{
    font-family: Tahoma;
}

.navbar {
    color: #ffffff;
    overflow: hidden;
    background-color: #505050;
}

.navbar a {
    float: left;
    display: flex;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navbar a.right{
    float: right;
}

.navbar a:hover {
    background-color: #dddddd; /* Grey background color */
    color: black; /* Black text color */
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.left {
    float: left;
    flex: 30%; 
    background-color: #f1f1f1; 
    padding: 20px; 
}

.left a {
    display: flex;
    color:#1d1d1d;
    background-color: #dddddd;
    padding: 5px;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #dddddd;
}

.left a:hover {
    background-color: #888888;
    color:#ffffff;
    border-color: #50413b;
}

.main {
    flex: 50%; 
    background-color: #ffffff; 
    padding: 20px; 
}

.right {
    float: right;
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

caution {
    color: #DD0000;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.article {
    background-color: #dddddd; 
    padding: 15px; 
}

.subarticle {
    background-color: #bbbbbb;
    padding: 15px;
}

.subinfo {
    background-color: #dddddd;
    padding-left: 15px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

* {
   margin: 0;
   padding: 0;
}
.center-fit {
    width: 600px;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
