body {
    background: #E0E0E0;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.header{
    padding: 20px;
    text-align: left;
    background: #1d1d1d;
    color: #ffffff
}

.header h1{
    font-family: Tahoma;
}

.navbar {
    color: #ffffff;
    overflow: hidden;
    background-color: #2c2c2c;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: right;
    padding: 14px;
    text-decoration: none;
}

.navbar a.right{
    float: right;
}

.navbar a:hover {
    background-color: #dddddd; /* Grey background color */
    color: black; /* Black text color */
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%; 
    background-color: #f1f1f1; 
    padding: 20px; 
}

.main {
    flex: 70%; 
    background-color: #ffffff; 
    padding: 20px; 
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.article {
    background-color: #dddddd; 
    padding: 5px; 
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}